@using Starbender.RecipeApp.Services.Contracts.Dtos

@inherits RecipeComponentBase

<ul>
    @foreach (var item in Recipe.RecipeIngredients)
    {
        <li id=@($"{item?.IngredientId??0}.{item?.UnitId??0}")>
            @($"{item?.Quantity} {item?.Unit?.Name} {item?.Ingredient.Name}")
        </li>  
    }
</ul>

@code {
    [Parameter] public RecipeDto Recipe { get; set; } = new RecipeDto();
}
