
@inherits RecipeComponentBase

<MudStack Row>
<h6>Recipes</h6>
<MudSpacer/>
<SeedButton />
<MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/recipes/edit/0">Add Recipe</MudButton>
</MudStack>
<MudTextField T="string"
              Label="Search recipes"
              Placeholder="Search title or description"
              Variant="Variant.Outlined"
              Margin="Margin.Dense"
              Immediate="true"
              @bind-Value="_searchTerm" />
<MudTable Items="FilteredRecipes" Dense="true" Hover="true" Bordered="true" Striped="true">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Title</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Ingredients</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="Ingredients">@context.IngredientText</MudTd>
    </RowTemplate>
</MudTable>


