services:
  recipeapp:
    image: recipaapp:latest
    build:
      context: .
      dockerfile: Starbender.RecipeApp/Dockerfile
    container_name: recipeapp
    command: ["dotnet", "Starbender.RecipeApp.dll"]
    networks:
      appnet:
        aliases:
          - recipeapp
    volumes:
      - C:/app/data/recipes:/app/data/recipes
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTP_PORTS: "8080"
      ConnectionStrings__Default: "Server=sqlserver;Database=RecipeDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;"
    ports:
      - "32109:8080"

networks:
  appnet:
    external: true
