services:
  recipeapp:
    image: recipeapp:dev
    build:
      context: .
      dockerfile: Starbender.RecipeApp/Dockerfile
    container_name: recipeapp
    command: ["dotnet", "Starbender.RecipeApp.dll"]
    networks:
      appnet:
        aliases:
          - recipeapp
    volumes:
      - C:/data/recipes:/data/recipes
      - dpkeys:/data/dpkeys
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTP_PORTS: "8080"
      ConnectionStrings__Default: "Server=sqlserver;Database=RecipeDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;"
      DataProtection__PersistKeysToFileSystem__Path: /data/dpkeys
    ports:
      - "32109:8080"

networks:
  appnet:
    external: true

volumes:
  dpkeys:
